<div class="slider-box">
    <!-- <img src="{{ sliderArray[currentIndex] }}" class="slider-img" alt="slider01"> -->
     <img *ngFor="let img of sliderArray; let i = index" 
        [src]="img"
        class="slider-img"
        [class.active]="i === currentIndex"
        alt="slider-image">
</div>


<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <img src="./assets/img/sustainability-catcher.svg" class="eye-catcher-img" alt="">
            <h1>Druckerei Kettler</h1>
            <p class="f-size-36">Umfassender Service, effiziente<br>
            Projektabwicklung und beeindruckende<br>
            Ergebnisse zum fairen Preis.</p>
        </div>
        
    </div>
</div>

