<img src="{{ sliderArray[currentIndex] }}" class="slider-img" alt="slider01">

<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <a href="#"><img src="./assets/img/sustainability-catcher.svg" class="eye-catcher-img" alt=""></a>
            <h1>Druckerei Kettler</h1>
            <p class="f-size-36">Umfassender Service, effiziente<br>
            Projektabwicklung und beeindruckende<br>
            Ergebnisse zum fairen Preis.</p>
        </div>
        
    </div>
</div>

