<div class="flex-center">
    <div class="desk-max-width">
        <div class="flex-center text-box">
            <h2>Unser Anspruch</h2>
            <p class="p-head">Flexible Beratung und effiziente Produktion für brillante Ergebnisse:<br>
                Mit der Erfahrung aus über 85 Jahren und modernster Technik<br>
                findet die Druckerei Kettler optimale Lösungen für jede Anforderung <br>
                zu einem fairen Preis.
            </p>
        </div>
        <div class="text-img-box">
            <div>
                <p class="p-width-400"> An unserem Produktionsstandort im westfälischen Bönen arbeiten wir fortlaufend an 
                    hochwertigen Druckerzeugnissen für Kunden aus Kunst, Kultur und Wirtschaft. 
                    Im Dialog mit unseren Auftraggebern ermitteln wir flexibel und individuell die geeigneten 
                    Produktionsabläufe und beraten sie kompetent in allen Details.
                </p>
                <h4 class="mt-32">Unser Team</h4>
                <p class="mt-8">
                    Unsere motivierten, erstklassig ausgebildeten Mitarbeiter erzielen mithilfe eines hochmodernen 
                    Maschinenparks Ergebnisse von beeindruckender Qualität. Als Ausbildungsbetrieb aus Überzeugung 
                    sorgen wir selbst für die Weitergabe unseres Erfahrungsschatzes und übernehmen gleichzeitig 
                    Verantwortung in der Region.
                </p>
            </div>
            <img src="./assets/img/ueber-uns-druckerei-kettler-aussenansicht.jpg" alt="outdoor-company-boenen" class="img-outdoor">
        </div>
    </div>
</div>
