<div class="flex-center">
    <div class="desk-max-width">
        <div class="flex-center text-box">
            <h2>Unser Anspruch</h2>
            <p class="p-head">Flexible Beratung und effiziente Produktion für brillante Ergebnisse:
                Mit der Erfahrung aus über 85 Jahren und modernster Technik
                findet die Druckerei Kettler optimale Lösungen für jede Anforderung
                zu einem fairen Preis.
            </p>
        </div>
        <div class="text-img-box">
            <div>
                <p class="p-width-400"> An unserem Produktionsstandort im westfälischen Bönen arbeiten wir fortlaufend an 
                    hochwertigen Druckerzeugnissen für Kunden aus Kunst, Kultur und Wirtschaft. 
                    Im Dialog mit unseren Auftraggebern ermitteln wir flexibel und individuell die geeigneten 
                    Produktionsabläufe und beraten sie kompetent in allen Details.
                </p>
                <h4 class="mt-32">Unser Team</h4>
                <p class="mt-8">
                    Unsere motivierten, erstklassig ausgebildeten Mitarbeiter erzielen mithilfe eines hochmodernen 
                    Maschinenparks Ergebnisse von beeindruckender Qualität. Als Ausbildungsbetrieb aus Überzeugung 
                    sorgen wir selbst für die Weitergabe unseres Erfahrungsschatzes und übernehmen gleichzeitig 
                    Verantwortung in der Region.
                </p>
            </div>
            <img src="./assets/img/ueber-uns-druckerei-kettler-aussenansicht.jpg" alt="outdoor-company-boenen" class="img-outdoor">
        </div>
        <div class="imgs-box">
            <img src="./assets/img/ueber-uns-druckerei-kettler-fadenzaehler-details.jpg" alt="" class="left-img">
            <img src="./assets/img/ueber-uns-druckerei-kettler-digitaldruck.jpg" alt="">
        </div>
        <div class="text-img-box mt-96">
            <div>
                <h4 class="mt-32">Unser Versprechen</h4>
                <p class="mt-8">
                    Auch gegenüber der Umwelt legen wir Wert auf Nachhaltigkeit. Als FSC®- und PEFC-zertifiziertes 
                    Unternehmen produzieren wir ökologisch fair, klimaneutral und sozial verantwortlich. Die Einhaltung 
                    von FOGRA/UGRA-Standards garantiert die optimale Qualität der Drucksachen und 
                    unterstreicht unseren hohen Anspruch.
                </p>
            </div>
            <div>
                <div class="cards flex-center">
                    <div class="cert-box">
                        <img src="./assets/img/climate.png" alt="">
                        <h4>climate</h4>
                    </div>
                    <div class="cert-box">
                        <img src="./assets/img/eco.png" alt="">
                        <h4>eco</h4>
                    </div>
                    <div class="cert-box">
                        <img src="./assets/img/recycling.png" alt="">
                        <h4>recycling</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-img-box mt-96">
            <img src="./assets/img/ueber-uns-druckerei-kettler-referenzen.jpg" alt="quality" class="img-outdoor">
            <div>
                <h4 class="mt-32">Unser Referenzen</h4>
                <p class="mt-8">
                    Ob Kunstbuch oder Visitenkarte – wir produzieren auf gleichbleibend hohem Niveau. Das macht uns zu einem 
                    zuverlässigen Partner für Unternehmen, Agenturen, Behörden, Künstler und viele andere Kunden. 
                    Zahlreiche Druckerzeugnisse aus unserem Hause wurden mit renommierten Preisen wie dem deutschen 
                    Fotobuchpreis oder dem red dot award ausgezeichnet.
                </p>
            </div>
            
        </div>
    </div>
</div>
