<header>
    <img src="./assets/img/comp-logo.png" class="img-logo pr-32" alt="logo">
        <a href="#">Leistungen</a>
        <a href="#">Service</a>
        <a href="#">Über uns</a>
        <a href="#">Kontakt</a>
    <div class="phone-number-box blue-boxes ">
        <img src="./assets/img/phone.png" class="img-icons" alt="">
        <span class="phone-number">02595 91013-0</span>
    </div>
    <div class="upload-box blue-boxes" (click)="openUploadDialog()">
        <img src="./assets/img/upload.png" class="img-icons" alt="">
        <span class="upload-text">Daten-Upload</span>
    </div>
</header>
<app-upload-form *ngIf="uplaodDialogOpen"></app-upload-form>
