@import './../../styles.scss';

header {
    height: 80px;
    @include display();
    border-bottom: 0.5px solid $color-text;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
    z-index: 100;
    >.responsive-header-box {
        >a {
            width: 120px;
            background-color: $color-white;
            text-align: center;
            border-right: 0.5px solid $color-text;
            height: 80px;
            @include display();
            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }
        >a.active {
            background-color: $color-blue !important;
            color: $color-white;
        }
    }
}

.performance-box {
    width: 120px;
    border-right: 0.5px solid $color-text;
    >a{
        background-color: $color-white;
        width: 100%;
        height: 100%;
        @include display();
        &:hover {
            background-color: $color-blue;
            color: $color-white;
        }
    }
    .highlight {
        background-color: $color-blue !important;
        color: $color-white;
    }
}




div { 
    @include display();
    height: 80px;
}


.img-logo {
    height: 80px;
    border-right: 0.5px solid $color-text;
    &:hover {
        cursor: pointer;
    }
}

.img-icons {
    height: 35px;
}

.blue-boxes {
    background-color: $color-blue;
    border-right: 0.5px solid $color-text;
    color: white;
    font-family: 'SimBold';
    font-size: 15px;
    gap: 20px;
}

.phone-number-box {
    width: 250px;
    font-weight: bold;

}

.upload-box {
    width: 120px;
    flex-direction: column;
    font-size: 12px;
    gap: 8px;
    text-transform: uppercase;
    &:hover {
        background-color: $color-text;
        cursor: pointer;
        color: $color-white;
    }
}

.performance-hover-box {
    width: 1020px;
    height: 200px;
    background-color: #FFFFFF;
    border: 1px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    @include display($jc: flex-start);
    cursor: default;
}

h4 {
    color: $color-blue;
}

.card {
    @include display($ai: flex-start);
    flex-direction: column;
    width: 315px;
    text-align: left;
    line-height: 20px;
    &:hover {
        cursor: pointer;
        p {
            color: $color-blue-hover;
        }
    }
}

.hover-box-p {
    color: $color-text;
    font-family: 'Newsreader';
    font-weight: 400;
    text-transform: initial;
}

.menu-icon {
    display: none;
}

@media (max-width: 1080px) {
    header {
        padding: 0 20px;
    }

    .performance-hover-box {
        width: 90%;
    }

    .phone-number-box {
        width: 170px;
    }
}

@media (max-width: 950px) {
    .phone-number-box {
        display: none;
    }

    header {
        >.responsive-header-box {
            >a {
                width: 100px;
                }
            }
        }
    }



@media (max-width: 750px) {
    header {
        justify-content: space-between;
        >.responsive-header-box {
            display: none;
        }
    }

    .menu-icon {
        display: block;
        width: 56px;
        object-fit: cover;
        cursor: pointer;
    }

    .mobile-box {
        @include display();
        gap: 20px;
    }

    .blue-boxes {
        background-color: $color-white;
        border-right: 0
    }

    .upload-box {
        width: 80px;
        &:hover {
            background-color: $color-white;
        }
    }

    .img-icons {
        filter: invert(1);
        height: 42px;
    }

    .upload-text {
        display: none;
    }

    .img-logo {
        border-right: 0;
    }

    .mobile-header {
        display: block !important;
        position: absolute;
        top: 81px;
        max-height: 0px;
        left: 0;
        right: 0;
        transform: translateY(-405px);
        z-index: 101;
        transition: transform 500ms ease-in-out;
        &.expand {
            transform: translateY(0);
        }
        .performance-box {
            width: 100%;
        }
        a {
            width: 100% !important;
            font-size: 24px;
            border-bottom: 0.5px solid $color-text;
            &:hover {
                background-color: $color-white !important;
                color: $color-text !important;
            }
        }
    }

    .performance-hover-box {
        display: none;
    }
}

@media (max-width: 360px) {
    .menu-icon {
        width: 40px;
    }

    .mobile-box {
        @include display();
        gap: 12px;
    }
}