<header>
    <img src="./assets/img/comp-logo.png" class="img-logo pr-32" alt="logo">
        <a href="#" 
        (mouseenter)="performanceHover = true" 
        (mouseleave)="performanceHover = false">Leistungen
            <div *ngIf="performanceHover" class="performance-hover-box">
                <a [routerLink]="['/sub', 'sheetfedoffset']" class="card pl-32">
                    <h4 class="pb-8">Bogenoffset</h4>
                    <p class="hover-box-p">Brillante Druckqualität für alle Formate und Auflagenhöhen – vom Flyer bis zum Plakat.</p>
                </a>
                <a [routerLink]="['/sub', 'digitalprint']" class="card pl-32">
                    <h4 class="pb-8">Digitaldruck</h4>
                    <p class="hover-box-p">Personalisierte Druckmedien und kleine Auflagen schnell und zum Vorteils-Preis.</p>
                </a>
            </div>
        </a>


        <a href="/service" routerLink="/service" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Service</a>
        <a href="/aboutus" routerLink="/aboutus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Über uns</a>
        <a href="/contact" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Kontakt</a>
        <div class="phone-number-box blue-boxes ">
            <img src="./assets/img/phone.png" class="img-icons" alt="">
            <span class="phone-number">02595 91013-0</span>
        </div>
        <div class="upload-box blue-boxes" (click)="openUploadDialog()">
            <img src="./assets/img/upload.png" class="img-icons" alt="">
            <span class="upload-text">Daten-Upload</span>
        </div>
</header>
<app-upload-form *ngIf="uplaodDialogOpen" (closeDialog)="closeUploadDialog()"></app-upload-form>
