<div class="background-box flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="cards">
                <ul class="imprint f-size-15">
                    <li class="bold">DRUCKEREI KETTLER</li>
                    <li>DRUCKVERLAG KETTLER GMBH</li>
                    <li>ROBERT-BOSCH-STRASSE 14</li>
                    <li class="mb-16">59199 BÖNEN/WESTFALEN</li>
                    <li>T 02383-91013-0</li>
                    <li class="mb-8">F 02383-91013-40</li> 
                    <li class="mb-32"><a href="mailto:info@druckerei-kettler.de" class="underline">INFO&#64;DRUCKEREI-KETTLER.DE</a></li>
                </ul>
                <div class="link-box">
                    <!-- <a href="#" class="underline">Jobs</a> -->
                    <a routerLink="/imprint" class="underline">Impressum</a> 
                    <!-- <a href="#" class="underline">AGB</a>  -->
                    <a routerLink="/privacypolicy" class="underline">Datenschutz</a>  
                </div>
            </div>
            <div class="cards flex-center">
                <div class="cert-box">
                    <img src="./assets/img/climate.png" alt="">
                    <span class="imprint f-size-15 bold">climate</span>
                </div>
                <div class="cert-box">
                    <img src="./assets/img/eco.png" alt="">
                    <span class="imprint f-size-15 bold">eco</span>
                </div>
                <div class="cert-box">
                    <img src="./assets/img/recycling.png" alt="">
                    <span class="imprint f-size-15 bold">recycling</span>
                </div>
            </div>
            <div class="cards flex-center">
                
                <a href="#header" class="upload-button"><img src="./assets/img/upload.png" class="img-upload" alt="">Daten-upload</a>
            </div>
        </div>
    </div>
</div>

