<div class="header-map-box">
    <img src="./assets/img/kontakt-anfahrt-2x.png" alt="">
    <div class="calc-route-box">
        <input [(ngModel)]="startAdress" type="text" name="openroute" id="openroute" placeholder="Bitte geben Sie Ihre Startadresse ein">
        <div class="route-btn" 
            (mouseenter)="hovered = true" 
            (mouseleave)="hovered = false" 
            (click)="openGoogleMaps()">
            <img [src]="hovered ? './assets/img/arrow-white.png' : './assets/img/arrow-right-blue.png'" alt="arrow-button">
            <h4>Route berechnen</h4>
        </div>
    </div>
</div>

