@import './../../../../styles.scss';

.row-1, .row-3 {
    @include display($jc: flex-start);
    gap: 96px;
}

.row-1 {
    p{
        align-self: flex-start;
    }
}

.row-2 {
    position: relative;
    >div {
        position: absolute;
        left: 345px;
        top: -200px;
    }
}

.row-3 {
    p{
        align-self: flex-end;
        padding-bottom: 64px;
    }
}

p {
    width: 400px;
    line-height: 22px;
    color: $color-text;
    font-size: 15px;
}

@media (max-width: 1000px) {
    .row-2 {
        display: none;
    }

    .row-1, .row-3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 48px;
        margin-bottom: 72px;
        p{
            align-self: center;
            width: 80%;
            line-height: 22px !important;
        }
    }

    .row-3 {
        margin-bottom: 0;
    }

    .mobile-p-bottom {
        p {
            padding-bottom: 0 !important; 
        }
    }
}



