<div class="flex-center">
    <div class="desk-max-width">
        <div class="row-1 mt-96">
            <img src="./assets/img/ueber-uns-druckerei-kettler-buecherwand.jpg" alt="">
            <p>
                Nach der räumlichen Auslagerung des Verlags investierte die DruckVerlag Kettler 
                GmbH mehrere Millionen in den Maschinenpark und ein neues Corporate Interior. 
                „Ein hochwertiges und identitätsstiftendes Arbeitsumfeld ist immer ein klares 
                Statement der Wertschätzung an die Mitarbeiter“, meint Geschäftsführer Gunnar Kettler. 
                Daher entstand unter Leitung von MSHS ARCHITEKTEN aus Münster ein Raumkonzept, das die 
                Verbindung von traditionellem, hochwertigem Handwerk und innovativem, zeitgenössischem 
                Corporate Design auch im Innenraum ablesbar macht.  
            </p>
        </div>
        <div class="row-2">
            <div>
                <img src="./assets/img/ueber-uns-druckerei-kettler-mediengestaltung.jpg" alt="">
            </div>
            
        </div>
        <div class="row-3 mt-32">
            <img src="./assets/img/ueber-uns-druckerei-kettler-dosenwand-produktion.jpg" alt="">
            <p class="mobile-p-bottom">
                Die einzelnen Herstellungsschritte eines Buches wurden dabei zu Hauptdarstellern in der 
                neuen atmosphärischen Raumbildung. Aus Monitoren, Farbdosen und Büchern entstanden Raumteiler 
                und Wegweiser, welche die unterschiedlichen Arbeitsbereiche mit viel Gespür für die Bedürfnisse 
                der Kunden und Mitarbeiter zonieren. <br><br>
                „Meine Mitarbeiter und Kunden sind sichtlich begeistert 
                von den neuen Räumen“, resümiert Gunnar Kettler, „und ich bin es auch.“  
            </p>
        </div>

    </div>
</div>
