@import './../../styles.scss';

.upload-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    @include display();

.upload-box {
    height: 800px;
    width: 1200px;
    background-color: $color-blue-transparancy;
    color: $color-white;
    position: relative;
    top: 40px;
    z-index: 2;
    @include display($jc: flex-start);
    flex-direction: column;
    >img {
        position: absolute;
        top: 0 ;
        right: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.input-box {
    @include display($ai: stretch, $jc:space-between);
    width: 1020px;
}

.input-card {
    width: 48%;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 0px solid #40c4ff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}


input, textarea {
    width: 100%;
    padding-inline: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: $color-white;
    height: 50px;
    outline: none;
    font-family: 'Newsreader';
    &::placeholder {
        font-family: 'Newsreader';
        font-weight: 500;
        color: #40c4ff;
        font-size: 15px
    }
}

.input-container, .text-container {
    background-color: $color-blue-hover;
    width: 100%;
    height: 50px;
    position: relative;
    >.err-msg-box {
        position: absolute;
        top: 17px;
        right: 8px;
        height: 48px;
        // background-color: rgba(255, 255, 255, 0.6);
        color: #3EC2FC;
        img {
            position: absolute;
            top: -12px;
            height: 40px;
            right: 4px;
            object-fit: cover;
        }

    }
}

.text-container {
    height: 186px;
}

textarea {
    height: 164px;
    padding: 12px 0 0 8px;
    resize: none;
}



.row-1,.row-2, .row-3, .row-4 {
    display: flex;
    height: 50px;
    margin-bottom: 8px;
}

.row-2, .row-3 {
    display: flex;
    gap: 8px;
}

}

.drop-zone {
    width: 97%;
    padding-inline: 8px;
    background-color: $color-blue-hover;
    border: 0;
    color: $color-white;
    font-family: 'SimBold';
    text-transform: uppercase;
    height: calc(265px + 95px);
    font-size: 48px;
    text-align: center;
    @include display();
    flex-direction: column;
    &::placeholder {
        font-family: 'Newsreader';
        font-weight: 500;
        color: #40c4ff;
        font-size: 15px
    }
  }
  
  .drop-zone.dragging {
    background-color: #f0f8ff;
    border-color: #00aaff;
  }

  .preview {
    @include display();
    align-self: flex-start;

  }
    
  .preview {
    margin: 5px 0;
    display: block;
    display: inline-block;
    max-width: 30ch; /* Beschränkt die Anzeige auf 10 Zeichen (ch = Breite eines Zeichens) */
    overflow: hidden;
    text-overflow: ellipsis; /* Zeigt "..." an, falls Text abgeschnitten wird */
    font-family: 'Newsreader';
    font-weight: 200;
    font-size: 16px;
    >div {
        display: flex;
        align-items: center;
        >img {
            width: 16px;
            height: 16px;
            object-fit: cover;
            cursor: pointer;
        }
    }
  }
 
.info-box {
    // background-color: lightgray;
    width: 1020px;
    height: 200px;
    color: $color-white;
    font-family: 'Newsreader';
    font-weight: 500;
    @include display($jc: space-between, $ai: flex-start);
    a {
        color: $color-white;
        font-family: 'Newsreader';
        text-transform: unset;
        font-weight: 500;
        text-decoration: underline;
    }
}



.f-weight {
    font-weight: 300;
    display: contents;
    
}

.submit-data-box {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    background-color: $color-white;
    color: $color-blue !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    padding: 8px 16px;
    margin: 16px 0 0 0;
    font-family: 'SimBold' !important;
    @include display();
    gap: 16px;
    width: fit-content;
    font-size: 15px;
    align-self: flex-end;
    border: none;
    &:hover {
        background-color: $color-text;
        color: $color-white !important;
        cursor: pointer;
    }

    img {
        height: 30px;
        object-fit: cover;
    }
}

.submit-btn-dis {
    background-color: $color-grey;
    &:hover {
        background-color: $color-grey;
        color: $color-blue !important;
        cursor: pointer;
    }
}

.upload-progress {
    width: 80%;
    @include display();
    flex-direction: column;
    h2 {
        color: $color-white;
    }
}

.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0; /* Hintergrundfarbe des Balkens */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 16px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #40c4ff; /* Farbe des Fortschrittsbalkens */
    width: 0%; /* Initial auf 0% */
    transition: width 0.3s ease; /* Sanfter Übergang */
  }

  @media (max-width: 1080px) {
    .upload-box {
        width: 800px !important;
    }

    form {
        width: 100%;
        @include display();
        flex-direction: column;
    }

    .input-box {
        width: 90% !important;
    }

    .info-box {
        width: 90% !important;
    }
  }

  @media (max-width: 800px) {
    .input-box {
        flex-direction: column;
        width: 100%;
    }

    .m-bot-mobile {
        margin-bottom: 12px;
    }

    .input-card {
        width: 100% !important;
    }

    h1 {
        font-size: 40px !important;
    }

    input, textarea {
        height: 40px !important;
        &::placeholder {
            font-size: 13px !important;
        }
    }
    
    .input-container, .text-container {
        height: 40px !important; 
        >.err-msg-box {
            img {
                height: 32px !important;
            }
        }
    }
    
    .text-container {
        height: 40px !important;
    }

    textarea {
        height: 32px !important;
        padding: 12px 0 0 8px;

    }

    .row-1,.row-2, .row-3, .row-4 {
        height: 40px !important;
    }

    .drop-zone {
        height: 90px;
    }

    br {
        display: none;
    }

    .info-box {
        flex-direction: column;
        align-items: center;
    }

    .submit-data-box {
        align-items: center;
    }

    button {
        align-self: center !important;
    }

    .description {
        text-align: center;
    }

    .check-container {
        @include display();
    }
}

@media (max-width: 675px) {
    .drop-zone {
        height: 72px;
        font-size: 32px;
    }

    .check-container {
        flex-direction: column;
        gap: 4px;
    }
}

@media (max-width: 475px) {
    .drop-zone {
        height: 64px;
        font-size: 24px;
    }

    .mt-32 {
        margin-top: 16px;
    }

    h1 {
        font-size: 32px !important;
    }

    .upload-box {
        img {
            width: 64px !important;
        }
    }

    .description {
        font-size: 14px !important;
        span {
            font-size: 14px;
        }
    }

    .submit-data-box {
        font-size: 14px;
        text-align: center !important;
    }
}