<div class="upload-background">
    <div class="upload-box">
        <img src="./assets/img/close.png" alt="close" (click)="closeUplaodWindow()">
        <h1>Daten-Upload</h1>
        <form>
            <div class="input-box">
                <div class="input-card">
                    <h4 class="mb-16">1. Projektdetails</h4>
                    <div class="row-1">
                        <input type="text" id="projectTitle" name="projectTitle" placeholder="Projekttitel / Angebots-Nr." />

                    </div>
                    <div class="row-2">
                        <input type="text" id="clientName" name="clientName" placeholder="Name des Auftraggebers" />
                        <input type="email" id="emailAddress" name="emailAddress" placeholder="example@domain.com" />
                    </div>
                    <div class="row-3">
                        <input type="text" id="contactPerson" name="contactPerson" placeholder="Ansprechpartner" />
                        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="z.B. +49 123 4567890" />
                    </div>
                    <div class="row-4">
                        <textarea id="additionalInfo" name="additionalInfo" rows="4" placeholder="Weitere Informationen eingeben..."></textarea>
                    </div>

                </div>
                <div class="input-card">
                    <h4 class="mb-16">2. Druckdaten</h4>
                    <div 
                    class="drop-zone" 
                    (dragover)="onDragOver($event)" 
                    (dragleave)="onDragLeave()" 
                    (drop)="onDrop($event)"
                    (click)="fileInput.click()"
                  >
                  Drag & Drop<br> oder<br> Klick

                  <input 
                      type="file" 
                      multiple 
                      #fileInput 
                      (change)="onFileSelect($event)" 
                      hidden 
                    />
                    <div class="preview">
                        <div *ngFor="let file of files">
                            <img src="./assets/img/close.png" alt="close"> 
                            {{ file.name }}
                        </div>
                          
                    </div>
                </div>
                  
                  
                </div>
            </div>
            <div class="info-box mt-16">
                <div class="description f-size-15">
                    <input type="checkbox"> Ich habe die <a href="">Datenschutzrechtliche Einwilligungserklärung</a> gelesen.*<br>
                    *Pflichtfeld

                    <h4 class="mt-32 mb-16">Haben Sie Fragen zur Datenübertragung?</h4>
                    Wir helfen Ihnen gerne weiter: <span class="f-weight">Telefon 02595 910 13-0 oder <a href="">info&#64;druckerei-kettler.de</a></span>
                </div>
                <div class="submit-data-box">
                    Erlaubte Datentypen: <span class="f-weight">pdf, rar, zip, jpg, tif (max. 1.000 MB)</span>
                    <a href="" class="submit-btn" (mouseenter)="hovered = true" (mouseleave)="hovered = false">
                        <img [src]="hovered ? './assets/img/arrow-white.png' : './assets/img/arrow-right-blue.png'" class="img-upload" alt="">Daten-upload
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

