@import './../../../styles.scss';


.main-content-box {
    margin-bottom: 240px;
    margin-top: 72px;
    overflow: hidden;
}

.news-title {
    @include display($jc: space-between);

}

.slider-control {
    display: flex;
    gap: 24px;
    img {
        width: 64px;
        object-fit: cover;
        &:hover {
            cursor: pointer;
        }
        
    }
}

.news-container {
    @include display($ai: flex-start, $jc: flex-start);
    gap: 24px;
    // overflow: hidden;
    height: 320px;
}


.news-card {
    // width: 32%;
    display: flex;
    flex: 0 0 33%;
    flex-direction: column;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    >.date {
        color: $color-blue;
        font-family: 'SimLight';
        text-transform: uppercase;
    }
    >.title {
        color: $color-blue;
        font-family: 'SimBold';
        text-transform: uppercase;
    }
    p {
        line-height: 24px;
    }
    &.slide-in {
        animation: slideIn 0.5s forwards;
    }

    &.slide-out {
        animation: slideOut 0.5s forwards;
    }
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@media (max-width:1080px) {
    .news-card {
        display: flex;
        flex: 0 0 31%;
    }
}

@media (max-width:950px) {
    .main-content-box {
        padding: 0 20px;
    }
}


@media (max-width:768px) {
    .main-content-box {
        padding: 0 80px;
        margin-bottom: 160px;
    }
    
    .news-container {
        flex-direction: column;
        height: 600px;
    }
}

@media (max-width:550px) {
    .slider-control {
        img {
            width: 48px;
        }
    }

    .main-content-box {
        padding: 0 60px;
    }

    .news-container {
        padding-bottom: 90px;
    }
}

@media (max-width:450px) {
    .main-content-box {
        padding: 0 40px;
    }

    .news-container {
        padding-bottom: 290px;
    }
}