@import './../../../styles.scss';

:host {
    margin-bottom: 200px;
}

.main-content-box {
    margin-bottom: 200px;
}

.news-title {
    @include display($jc: space-between);

}

.slider-control {
    display: flex;
    gap: 24px;
    img {
        width: 64px;
        object-fit: cover;
        
    }
}

.news-container {
    @include display($ai: flex-start, $jc: space-between)
}


.news-card {
    width: 32%;
    display: flex;
    flex-direction: column;
    >.date {
        color: $color-blue;
        font-family: 'SimLight';
        text-transform: uppercase;
    }
    >.title {
        color: $color-blue;
        font-family: 'SimBold';
        text-transform: uppercase;
    }
    p {
        line-height: 24px;
    }
}