<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="news-title">
                <h2>Neuigkeiten</h2>
                <div class="slider-control">
                    <img src="./assets/img/arrow-left.png" alt="left arrow" (click)="prevNews()">
                    <img src="./assets/img/arrow-right.png" alt="left arrow" (click)="nextNews()">
                </div>
            </div>
            <div class="news-container mt-32">
                @for(news of newsServiceData.newsData | slice:startIndex:startIndex+itemsPerPage; track news.date) {
                    <div class="news-card">
                        <!-- {{ $index + 1 }} -->
                        <span class="date mb-16 f-size-15">{{ news.date }}</span>
                        <span class="title mb-16 f-size-15">{{ news.title }}</span>
                        <p class="f-size-15 f-color-text">{{ news.description }}</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
