<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="news-title">
                <h2>Neuigkeiten</h2>
                <div class="slider-control">
                    <a href=""><img src="./assets/img/arrow-left.png" alt="left arrow"></a>
                    <a href=""><img src="./assets/img/arrow-right.png" alt="left arrow"></a>
                </div>
            </div>
            <div class="news-container mt-32">
                <div class="news-card">
                    <span class="date mb-16 f-size-15">16. Mai 2024</span>
                    <span class="title mb-16 f-size-15">Ökostrom</span>
                    <p class="f-size-15 f-color-text">
                        Die firmeneigene Photovoltaikanlage auf dem Dach unserer Produktionshalle 
                        erzeugt jährlich 190.000 kWh und deckt damit ein Viertel unseres 
                        Gesamtverbrauchs. Den übrigen Bedarf decken wir durch 100% Ökostrom unseres 
                        örtlichen Versorgers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
