@import './../../../../styles.scss';

.f-bold {
    font-family: 'SimBold';
}

h2 {
    color: $color-blue;
}

.persons-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.person-card {
    position: relative;
    height: 219px;
    overflow: hidden;
    object-fit: cover;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.person-information {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    height: 100%;
}

.person-card:hover .person-information {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: $color-blue-transparancy;
    opacity: 1;
}


ul {
    padding: 0 0 8px 24px;
    align-self: flex-end;
    list-style-type: none;
    font-family: 'SimLight';
    color: $color-white;
    text-transform: uppercase;
    font-size: 15px;
    li {
        padding-bottom: 2px;
    }
    li:first-child {
        font-family: 'SimBold';
    }
    a {
        color: $color-white;
        &:hover {
            text-decoration: underline;
        }
    }
}

button {
    display: none;
}



@media (max-width: 1080px) {
    .person-card {
        height: 184px;
    }
}

@media (max-width: 1024px) {
    .content-box {
        margin-top: 64px;
        @include display();
        flex-direction: column;
    }

    h2 {
        text-align: center;
    }

    .person-card {
        height: 276px;
        // width: 100%
    }

    .persons-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .person-information {
        display: none !important;
    }

    button {
        display: flex;
        position: absolute;
        cursor: pointer;
        right: 8px;
        bottom: 8px;
        width: 24px;
        height: 24px;
        z-index: 10;
    }

    .person-information-mobile {
        height: 276px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        background-color: $color-blue-transparancy;
        opacity: 1;
    }
}

@media (max-width: 955px) {
    .person-card {
        height: 250px;
    }

    .person-information-mobile {
        height: 250px;
    }

}

@media (max-width: 830px) {
    .person-card {
        height: 205px;
    }

    .person-information-mobile {
        height: 205px;
    }

    .persons-box {
        margin: 0 40px;
    }
}

@media (max-width: 725px) {
    .persons-box {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        gap: 16px;
    }

    h2 {
        font-size: 32px;
    }

    .person-card {
        height: 280px;
        overflow: visible;
        img {
            height: 280px;
            width: unset;
            object-fit: cover;
        }
    }

    .person-information-mobile {
        height: 280px;
    }

}

@media (max-width: 500px) {
    h2 {
        font-size: 24px;
    }

    .person-card {
        height: 170px;
        overflow: visible;
        img {
            height: 170px;
            width: 260px;
            object-fit: cover;
        }
    }

    .person-information-mobile {
        height: 170px;
        ul {
            font-size: 12px;
        }
        a {
            font-size: 12px; 
        }
    }
}




