@import './../../../styles.scss';

.main-content-box {
    @include display($ai: flex-start, $jc: space-between);
    margin-bottom: 200px;
}


.offering-card {
    width: 31%;
    // background-color: grey;
    @include display();
    flex-direction: column;
    position: relative;
    &:hover p, img, div {
        // cursor: pointer;
        color: $color-blue
    }
    img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 104px;
    }
    >div {
        position: absolute;
        top: 160px;
        left: 32px;
        right: 32px;
        background-color: $color-blue-transparancy;
        color: $color-white;
        text-transform: uppercase;
        height: 112px;
        @include display();
        text-align: center;
        .img-title {
            font-family: 'SimLight';
            line-height: 40px;   
            // @include display();    
        }
    }
    p {
        line-height: 24px;

    }
}

@media (max-width: 1080px) {
    .offering-card {
        >div {
            top: 124px;
            height: 112px;
        }
        img {
            margin-bottom: 88px;
        }
    }
}

@media (max-width: 768px) {
    .main-content-box {
        padding: 0 80px;
        flex-direction: column;
        gap: 64px;
    }

    .offering-card {
        width: 100%;
        >div {
            position: unset;
            width: 60%;
            height: 56px;
            margin-bottom: 16px;
        }
        img {
            width: 75%;
            margin-bottom: -16px;
        }
    }
}

@media (max-width: 640px) {
    .main-content-box {
        padding: 0 60px;
        flex-direction: column;
        gap: 64px;
        margin-bottom: 40px;
    }

    .offering-card {
        width: 100%;
        >div {
            width: 75%;
        }
        img {
            width: 100%;
        }
    }
}

@media (max-width: 540px) {
    .mob-size {
        font-size: 16px;
    }

    .main-content-box {
        padding: 0 30px;
        flex-direction: column;
        gap: 64px;
    }
}








