@import './../../../styles.scss';

.content-box {
    padding-top: 140px;
}

.head-content {
    @include display($ai: flex-start);
    >.text-box {
        flex: 1;
        p {
            width: 80%;
            color: $color-text;
            line-height: 20px;
        }
    }
    >.slider-box {
        flex: 1;
        @include display();
        flex-direction: column;
        height: 323px;
        // overflow: hidden;
        position: relative;
        .slider-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease-in-out; // Dauer der Überblendung
            height: 323px;        }
        .slider-img.active {
            opacity: 1;
            z-index: 1;
        }
        >.slider-control {
            position: absolute;
            bottom: -24px;
            @include display();
            gap: 8px;
            z-index: 10;
        }
    }
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: $color-blue;
    &:hover {
        cursor: pointer;
    }
}

.circle.active {
    background-color: $color-blue-hover;
}



.bottom-content {
    @include display($ai: flex-start);
    gap: 32px;
    .card {
        @include display();
        flex-direction: column;
        img {
            width: 108px;
            object-fit: cover;
        }
        p {
            color: $color-text;
            line-height: 20px;
        }
    }
}

@media (max-width: 980px) {
    .bottom-content {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 32px;
        .card {
            padding: 0 24px;
        }
    }
}

@media (max-width: 830px) {
    .content-box {
        @include display();
        flex-direction: column;
    }

    .head-content {
        flex-direction: column;
        align-items: center;
        width: 90%;
        >.text-box {
            flex: unset;
            text-align: center;
            @include display();
            flex-direction: column;
            margin-bottom: 48px;
            p {
                width: 100%;

            }
        }
        >.slider-box {
            flex: unset;
            width: 100%;
            .slider-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 0.5s ease-in-out; // Dauer der Überblendung
                height: 323px;        }
            .slider-img.active {
                opacity: 1;
                z-index: 1;
            }
            >.slider-control {
                position: absolute;
                bottom: -24px;
                @include display();
                gap: 8px;
                z-index: 10;
            }
        }
    }
}

@media (max-width: 610px) {
    .bottom-content {
        gap: 16px;
        .card {
            padding: 0 16px;
        }
    }

    p {
        line-height: 22px !important;
        margin-top: 0px !important;
    }
}

@media (max-width: 530px) {
    .bottom-content {
        grid-template-columns: repeat(1, 1fr);
        .card {
            padding: 0 32px;
        }
    }

    p {
        margin-bottom: 32px !important;
    }
}
