@import './../../../styles.scss';

.content-box {
    padding-top: 140px;
}

.head-content {
    @include display($ai: flex-start);
    >.text-box {
        flex: 1;
        p {
            width: 80%;
            color: $color-text;
            line-height: 20px;
        }
    }
    >.slider-box {
        flex: 1;
        @include display();
        flex-direction: column;
        height: 323px;
        // overflow: hidden;
        position: relative;
        .slider-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease-in-out; // Dauer der Überblendung
            height: 323px;        }
        .slider-img.active {
            opacity: 1;
            z-index: 1;
        }
        >.slider-control {
            position: absolute;
            bottom: -24px;
            @include display();
            gap: 8px;
            z-index: 10;
        }
    }
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: $color-blue;
    &:hover {
        cursor: pointer;
    }
}

.circle.active {
    background-color: $color-blue-hover;
}



.bottom-content {
    @include display($ai: flex-start);
    gap: 32px;
    .card {
        @include display();
        flex-direction: column;
        img {
            width: 108px;
            object-fit: cover;
        }
        p {
            color: $color-text;
            line-height: 20px;
        }
    }

}

