<div class="flex-center">
    <div class="desk-max-width">
        <div class="form-box">
            <div class="contact-us">
                <h3>HABEN SIE FRAGEN?<br>
                    <b>KONTAKTIEREN SIE UNS!</b>
                </h3>
                <p class="f-size-15">Teilen Sie uns mit, was Sie vorhaben! Selbst wenn Sie sich in den Details noch unsicher sind: Unsere qualifizierten Ansprechpartner beraten Sie gern. Rufen Sie uns an, schreiben Sie uns oder kommen Sie persönlich bei uns in Bönen vorbei. Wir freuen uns auf Sie.</p>
                <ul class="f-size-15">
                    <li class="f-bold">Druckerei Kettler</li>
                    <li>DRUCKVERLAG KETTLER GMBH</li>
                    <li>ROBERT-BOSCH-STRASSE 14</li>
                    <li>59199 BÖNEN/WESTFALEN</li>
                    <li><span class="f-bold">T</span> 02383-91013-0</li>
                    <li><span class="f-bold">F</span> 02383-91013-40</li>
                    <li><a href="mailto:info@druckerei-kettler.de">INFO&#64;DRUCKEREI-KETTLER.DE</a></li>
                </ul>
            </div>
            <form (ngSubmit)="onSubmit(contactForm, $event)" #contactForm="ngForm">
                <div class="input-box">
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" placeholder="Name *" minlength="2" required>

                    @if (name.dirty) {
                        <div *ngIf="name.errors?.['required']">name is required
                            <img src="./assets/img/contact-err.png" alt="">
                        </div>
                        <div *ngIf="name.errors?.['minlength']">min 2 values is required
                            <img src="./assets/img/contact-err.png" alt="">
                        </div>
                        <img *ngIf="name.valid" src="./assets/img/contact-check.png" alt="">
                    }
                </div>

                <input [(ngModel)]="contactData.mail" type="email" name="mail" id="" placeholder="E-Mail *" required>
                <input [(ngModel)]="contactData.subject" type="text" name="Betreff" id="" placeholder="Betreff">
                <textarea [(ngModel)]="contactData.message" name="message" id="" placeholder="Nachricht..."></textarea>
                <div>
                    <input type="checkbox" required> 
                    <span class="text-checkbox f-size-15">Ich habe die <a href="">Datenschutzrechtliche Einwilligungserklärung</a> gelesen.*</span>
                </div>
                <div class="flex-right mt-32">
                    <button class="f-size-15 submit-btn"><img src="./assets/img/arrow-white.png" alt="">Absenden</button>
                </div>
            </form>
        </div>
    </div>
</div>