<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="card-1">
                <h3>HABEN SIE FRAGEN? <br>
                    WIR HELFEN GERNE.
                </h3>
                <p>In unserem Service-Bereich finden Sie nützliche Tipps, Checklisten und Downloads 
                    zur Erstellung optimaler Druckvorlagen. Laden Sie die passenden Farbprofile 
                    herunter und erhalten Sie weiterführende Informationen zu unseren Zertifizierungen.</p>
            </div>
            <div class="card-2">
                <h3>SIE PLANEN EIN KONKRETES PROJEKT?<br>
                    WIR FREUEN UNS AUF IHRE IDEEN!
                </h3>
                <div class="start-question-box">
                    <p class="question-p">
                        Was auch immer Sie vorhaben: Wir bieten nicht nur die passende technische Abwicklung, 
                        sondern beraten Sie auch gerne in allen Fragen zu Druckdaten, Material und Veredelung. 
                        Schildern Sie uns Ihre Vorstellungen. Wir melden uns umgehend bei Ihnen.  
                    </p>
                    <a href="#" class="f-size-15"><img src="./assets/img/chat-bubble.png" alt="">Anfrage Starten</a>
                </div>

            </div>

        </div>
    </div>
</div>


