.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 380px;    /* Footer height */
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 290px;            /* Footer height */
}