.main-content-box {
    padding-top: 120px;
}

.copy-h1 {
    font-size: 90px;
    font-weight: 600;
}

p {
    line-height: 22px;
}

a {
    font-family: 'Newsreader';
    text-transform: initial;
    font-weight: 400;
}

strong {
    font-weight: 600;
}

ul {
    font-family: 'Newsreader';
    li {
        line-height: 22px;
    }
}

h4 {
    margin: 8px 0;
}

h2 {
    margin: 16px 0;
}