<div class="img-container">
    <div class="flex-center">
        <div class="desk-max-width">
            <div class="main-content-box">
                <div class="txt-align">
                    <h1>Erfahrung, Präzision,<br> Flexibilität</h1>
                </div>
                
                <p class="f-size-36">Mit modernster Technik und der<br> 
                    Erfahrung aus über 90 Jahren sorgen wir<br> 
                    für brillante Ergebnisse.</p>
            </div>
        </div>
    </div>
</div>

