<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <h2>Impressum</h2>
            <ul>
                <li>Maximilian Mühlbauer</li>
                <li>Mühlenstraße 2a</li>
                <li>59423 Unna</li>
            </ul>
            <ul>
                <li><span class="strong">T</span> 0152 534 167 93</li>
                <li><span class="strong">M</span> maximilian-muehlbauer&#64;web.de</li>
            </ul>
            <ul>
                <li><span class="strong">Design: </span> labor b designbüro</li>
            </ul>
            <p class="mt-32">Diese Webseite ist eine Nachbildung der offiziellen Seite der Druckerei Kettler GmbH.</p>

            <p class="mt-32"><span class="strong">Haftungshinweis: </span> Trotz sorgfältiger inhaltlicher Kontrolle <br>übernehmen wir keine Haftung für 
                die Inhalte externer Links. <br>Für den Inhalt der verlinkten Seiten sind ausschließlich deren 
                Betreiber verantwortlich.</p>
        </div>
    </div>
</div>
