<div class="flex-center pt-128">
    <div class="desk-max-width">
        <div class="card-box">
            <div class="index-box">
                <h2>Überblick</h2>
                <h4>Ansprechpartner</h4>
                <h4>Dateiformat</h4>
            </div>
            <div class="card">
                <h2>Druckdaten</h2>
                <p>Damit Ihre fertigen Druckerzeugnisse tatsächlich so aussehen, wie sie am Bildschirm konzipiert wurden, 
                    muss bei der Erstellung der Druckvorlagen eine Reihe von Richtlinien beachtet werden.
                </p>
                <p>
                    Hier finden Sie unsere Vorgaben zu Dateiformaten und weitere wichtige Aspekte der Datenaufbereitung 
                    sowie nützliche Downloads übersichtlich zusammengestellt. Bei spezifischen Fragen wenden Sie sich 
                    bitte direkt an 
                    <a href="contact">unsere Ansprechpartner.</a> 
                </p>
            </div>
            <div class="card">
                <h3>Dateiformate</h3>
                <h4>Druckfertige Daten</h4>
                <p>Druckfertige Dateien akzeptieren wir nur als PDF im Format PDF/X‑3:2002 oder PDF/X‑4:2008.</p>
                
                <h4>Offene Daten</h4>
                <p>Auf Anfrage und gegen Aufpreis nehmen wir offene Daten aus dem Layout-Programm Adobe InDesign an 
                    und bereiten sie für die weitere Verwendung auf (siehe auch Druckvorstufe).</p>
                
                <h4>Abweichende Formate</h4>
                <p>wenn auch Layout und Gestaltung von Medien zu Ihrem Auftrag gehören, können wir Daten in abweichenden Dateiformaten
                    (z. B. aus Office-Anwendungen) entgegennehmen.
                </p>
            </div>
        </div>
    </div>
</div>
