@import './../../../styles.scss';

.pt-128 {
    padding-top: 128px;
}

.card-box {
    position: relative;
    width: 100%;
    // background-color: aqua;
    @include display($jc: space-between, $ai: flex-start);
    >.index-box {
        background-color: #f0f0f0;
        width: 45%;
        position: sticky;
        top: 128px;
        display: flex;
        flex-direction: column;
        padding: 24px;
    }
    >.left-content {
        width: 45%;
    }
}

.card {
    width: 98%;
    margin-bottom: 64px;
}

h2 {
    color: $color-blue;
    margin-bottom: 12px;
}

h3 {
    margin-bottom: 16px;
    margin-top: 64px;
}

h4 {
    margin-bottom: 8px;
    font-family: "Newsreader";
    text-transform: none;
    font-weight: 600;
}

p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: $color-text;
}

a {
    color: #0091D2;
    font-family: "Newsreader";
    text-transform: none;
    font-weight: 400;
    text-decoration: underline;
    padding-bottom: 8px;
    &:hover {
        cursor: pointer;
        color: $color-blue-hover;
    }
}

.linkStyle {
    color: $color-blue;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 840px) {
    .card-box {
        padding: 0 40px;
        width: auto;
        >.index-box {
            width: 30%;
        }
        >.left-content {
            width: 60%;
        }
    }
}

@media (max-width: 750px) {
    .card-box {
        padding: 0 40px;
        width: auto;
        justify-content: center;
        gap: 24px;
        >.index-box {
            flex: 0;
        }
        >.left-content {
            flex: 1;
        }
    }

    h2 {
        font-size: 32px !important;
    }

    p {
        line-height: 22px !important;
    }
}

@media (max-width: 610px) {
    h4 {
        margin-top: 24px;
    }

    p {
        margin-top: 16px !important;
    }
}

@media (max-width: 550px) {
    .card-box {
        >.index-box {
            display: none;
        }
    }
}

