<div class="background-box flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="cards">
                <span class="imprint f-size-15">
                    <span class="bold">DRUCKEREI KETTLER</span><br>
                    DRUCKVERLAG KETTLER GMBH<br>
                    ROBERT-BOSCH-STRASSE 14<br>
                    59199 BÖNEN/WESTFALEN<br>
                    T 02383-91013-0<br>
                    F 02383-91013-40<br>
                    <a href="">INFO&#64;DRUCKEREI-KETTLER.DE</a> 
                </span>
            </div>
            <div class="cards">2</div>
            <div class="cards">3</div>
        </div>
    </div>
</div>

