@import './../../../styles.scss';

.background-box {
    background-image: url(./../../../assets/img/background-footer.jpg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-text;
    margin-top: 112px;
}

.main-content-box {
    @include display($jc:space-between);
    gap: 24px;
    >.cards {
        width: 30%;
        // background-color: yellow;
        height: 200px;
    }
}

.imprint {
    font-family: 'SimLight';
    color: white;
}

.bold {
    font-family: 'SimBold';
}

a {
    &:hover {
        color: $color-white;
    }
}
