html, body { height: 100%; }
body { 
  margin: 0 !important; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
    }

@mixin display($f: flex, $jc:center, $ai:center) {
display: $f;
justify-content: $jc;
align-items: $ai;
    }

$color-blue: #0091D2;
$color-text: #323232;
$color-white: #FFFFFF;


.desk-max-width {
    width: 100%;
    max-width: 1020px;
  }

a {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-text;
}

  // Margins
.mb-8 {
margin-bottom: 8px;
}
.mb-16 {
margin-bottom: 16px;
}
.mb-32 {
margin-bottom: 32px;
}

.mt-8 {
margin-top: 8px;
}
.mt-16 {
margin-top: 16px;
}
.mt-32 {
margin-top: 32px;
}

.ml-8 {
margin-left: 8px;
}
.ml-16 {
margin-left: 16px;
}
.ml-32 {
margin-left: 32px;
}

.mr-8 {
margin-right: 8px;
}
.mr-16 {
margin-right: 16px;
}
.mr-32 {
margin-right: 32px;
}

// Paddings
.pb-8 {
padding-bottom: 8px;
}
.pb-16 {
padding-bottom: 16px;
}
.pb-32 {
padding-bottom: 32px;
}

.pt-8 {
padding-top: 8px;
}
.pt-16 {
padding-top: 16px;
}
.pt-32 {
padding-top: 32px;
}

.pl-8 {
padding-left: 8px;
}
.pl-16 {
padding-left: 16px;
}
.pl-32 {
padding-left: 32px;
}

.pr-8 {
padding-right: 8px;
}
.pr-16 {
padding-right: 16px;
}
.pr-32 {
padding-right: 32px;
}

// Kombinierte Klassen für Margin
.m-8 {
margin: 8px;
}
.m-16 {
margin: 16px;
}
.m-32 {
margin: 32px;
}

// Kombinierte Klassen für Padding
.p-8 {
padding: 8px;
}
.p-16 {
padding: 16px;
}
.p-32 {
padding: 32px;
}















/* roboto-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/roboto-v32-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* roboto-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/roboto-v32-latin-300.woff2') format('woff2');
  }
/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-v32-latin-regular.woff2') format('woff2');
  }
/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/roboto-v32-latin-500.woff2') format('woff2');
  }
/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/roboto-v32-latin-700.woff2') format('woff2');
  }
/* roboto-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/roboto-v32-latin-900.woff2') format('woff2');
  }

/* open-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/open-sans-v40-latin-300.woff2') format('woff2');
  }
/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/open-sans-v40-latin-regular.woff2') format('woff2');
  }
/* open-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/open-sans-v40-latin-500.woff2') format('woff2');
  }
/* open-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/open-sans-v40-latin-600.woff2') format('woff2');
  }
/* open-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/open-sans-v40-latin-700.woff2') format('woff2');
  }
/* open-sans-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/open-sans-v40-latin-800.woff2') format('woff2');
  }
